html body #page.site .customize-partial-edit-shortcut button * {
fill: rgb(234,234,244) !important;
color: rgb(234,234,244) !important;
}

html body #page.site .customize-partial-edit-shortcut button,html body #page.site .widget .customize-partial-edit-shortcut button {
    position: absolute !important;
    left: -30px !important;
    top: 2px !important;
    fill: rgb(234,234,244) !important;
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
    min-height: 30px !important;
    line-height: 1 !important;
    font-size: 18px !important;
    z-index: 5 !important;
    background: #3582c4 !important;
    border-radius: 50% !important;
    border: 2px solid #fff !important;
    box-shadow: 0 2px 1px rgba(60, 67, 74, .15) !important;
    text-align: center !important;
    cursor: pointer;
    box-sizing: border-box !important;
    padding: 3px !important;
    animation-fill-mode: both;
    animation-duration: .4s;
    opacity: 0;
    text-shadow: 0 -1px 1px #135e96, 1px 0 1px #135e96, 0 1px 1px #135e96, -1px 0 1px #135e96 !important;
}

html body #page.site .customize-partial-edit-shortcut button:hover *,html body #page.site .customize-partial-edit-shortcut button:focus * {
	fill: #fff !important;
}